:root {
    --yellow: #ffc600;
    --black: #272727;
}

body{
    background-image: url("assets/images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
}
button{
    margin-right: 200px;
}
.hero{
    min-height: 400px;
    background: black url(assets/taco.jpg);
    background-size: cover;
    background-position: bottom right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
}
.gallery h2{
    grid-column: 1/-1;
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 10px;

}

.gallery h2:before,.gallery h2:after{
    content: '';
    background: linear-gradient(to var(--direction,left),var(--yellow),transparent);
    height: 10px;
    display: block;
}

.gallery h2:after{
    --direction:right;
}
